@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;

}

body {
    max-width: 1920px;
    font-family: 'Montserrat', sans-serif;
}

#root {
    
    @include flex-center-column;
}

header {
    max-width: 1240px;
    width: 86%;
    height: 68px;
    padding: 5% 0 2% 0;
    @include tablette{
        padding: 7% 0 3% 0;
    }
    @include mobile{
        padding: 10% 0 5% 0;
    }
    @include mini{
        width: 89%;
        padding: 1% 0 0% 0;
    }
}

main {
    max-width: 1240px;
    width: 86%;
    @include flex-center-column;
    padding:2% 0;
    @include mini{
        width: 89%;
        padding-top:0;
    }
}

footer {
    width: 100%;
    height: 209px;
}

button {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

figure {
    line-height: 0;
}