.carousel-container {
    height: 415px;
    border-radius :25px;
    overflow:hidden;
    @include flex-center;
    @include mobile {
        height: 335px;
    }
    @include mini {
        height : 255px;
    }
}

.utils-container {
    height:415px;
    max-width: 1240px;
    width: 86%;
    position:absolute;
    display: flex;
    flex-direction: column;
    @include mobile {
        height: 335px;
    }
    @include mini {
        height: 255px;
    }
}

.container-pict {
    display:flex;
    justify-content: center;
    align-items: center;
}

.arrow-container {
    padding:0 2%;
    height:55%;
    display : flex;
    justify-content: space-between;
    align-items: flex-end;
    @include mini {
        padding:0 0.5%;
    }
}

.counter-container {
    height:45%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.arrowNext{
    img {
        @include tablette {
            height: 60px;
            width: 36px;
        }
        @include mobile {
            height: 40px;
            width: 24px;
        }
        @include mini {
            height: 20px;
            width: 12px;
        }
    }
}


.arrowPrev{
    img {
        @include tablette {
            height: 60px;
            width: 36px;
        }
        @include mobile {
            height: 40px;
            width: 24px;
        }
        @include mini {
            height: 20px;
            width: 12px;
        }
    }
}

.slider-image {
    min-height: 415px;
    
}

img.slider-image  {
    width: 100%;
    object-fit:cover;
}

.carousel-counter {
    font-size:18px;
    color: $colour-white;   
    @include flex-center;
    padding:0.5%;
    @include mini {
        font-size:10px;
    }
}