footer {
    @include flex-center-column;
    color: $colour-white;
    background: $colour-black;
}

.footer-text {
    font-size: 24px;
    @include tablette{
        font-size: 20px;
    }@include mobile{
        font-size: 16px;
    }
    @include mini{
        font-size: 12px;
    }
}