.container-banner {
    overflow: hidden;
    border-radius :30px;
    margin: 2% 0 4% 0;

    display:flex;
    justify-content: center;
    align-items: center;

    @include tablette{
        border-radius: $border-radius-tablette;
    }
    @include mobile{
        border-radius: $border-radius-mobile;
    }
    @include mini{
        border-radius: $border-radius-mini;
        margin: 1% 0 2% 0;
    }
}

figcaption {
    position:absolute;
}

figcaption h1 {
    color: $colour-white;
    font-size: 48px;
    font-weight: 500;
    @include tablette{
        font-size: 36px;
    }
    @include mobile{
        font-size: 24px;
    }
    @include mini{
        font-size: 12px;
    }
}