.container-banner {
    @include flex-center;
    width: 100%;
    height:223px;
    overflow: hidden;
    border-radius :30px;
    margin: 2% 0 4% 0;
    background-color: $colour-black;
    @include tablette{
        border-radius: $border-radius-tablette;
    }
    @include mobile{
        border-radius: $border-radius-mobile;
    }
    @include mini{
        max-height: 111px;
        border-radius: $border-radius-mini;
        margin: 1% 0 2% 0;
    }
}

img.bannerPict {
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0.7;
}

figcaption {
    position:absolute;
}

figcaption h1 {
    line-height: 24px;
    color: $colour-white;
    font-size: 48px;
    font-weight: 500;
    @include tablette{
        font-size: 36px;
    }
    @include mobile{
        padding: 0 18%;
        font-size: 28px;
    }
    @include mini{
        
        line-height: 24px;
        font-size: 24px;
    }
}